apiVersion: v1
kind: DeploymentConfig
metadata:
  generation: 1
  labels:
    app: postgresql-ansibleapp
    service: postgresql
  name: postgresql
spec:
  replicas: 1
  selector:
    app: postgresql-ansibleapp
    service: postgresql
  strategy:
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: postgresql-ansibleapp
        service: postgresql
    spec:
      containers:
      - env:
        - name: POSTGRES_PASSWORD
          value: '{{ postgresql_password }}'
        - name: POSTGRES_USER
          value: '{{ postgresql_user }}'
        - name: POSTGRES_DB
          value: '{{ postgresql_database }}'
        image: docker.io/jmontleon/postgresql:centos7
        imagePullPolicy: IfNotPresent
        name: postgresql
        ports:
        - containerPort: 5432
          protocol: TCP
        resources: {}
        securityContext: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: postgresql
        workingDir: /
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: postgresql
        persistentVolumeClaim:
          claimName: postgresql
  test: false
  triggers:
  - type: ConfigChange
status: {}

