{% if lb %}
upstream upstr {
{% if lb_method != 'round_robin' %}
    {{ lb_method }}{{ ' $request_uri' if lb_method == 'hash' }};
{% endif %}
{% set list = server.split(', ') %}
{% for ip in list %}
    server {{ ip }};
{% endfor %}
}
{% endif %}

server {
    listen 8080;
    server_name localhost;

    location / {
{% if lb %}
        proxy_pass http://upstr;
{% else %}
        root /usr/share/nginx/html;
        index index.html index.htm;
{% endif %}
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}
