apiVersion: v1
kind: Route
metadata:
  labels:
    app: foreman-apb
    service: foreman
  name: foreman
spec:
  port:
    targetPort: port-443
  tls:
    caCertificate: |
{{ ca }}
    certificate: |
{{ crt }}
    insecureEdgeTerminationPolicy: Allow
    key: |+
{{ key }}
    termination: edge
  to:
    kind: Service
    name: foreman
    weight: 100
  {% if use_cn_for_route_hostname == true -%}
  host: {{ certificate_cn }}
  {% endif %}
