apiVersion: v1
kind: DeploymentConfig
metadata:
  generation: 1
  labels:
    app: foreman-apb
    service: foreman
    version: "{{ version }}"
  name: foreman-{{ version }}
spec:
  replicas: 1
  selector:
    app: foreman-apb
    service: foreman
  strategy:
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: foreman-apb
        service: foreman
    spec:
      containers:
      - env: {}
        image: docker.io/jmontleon/foreman-centos7:{{ version }}
        command: ["/usr/sbin/httpd", "-DFOREGROUND"]
        imagePullPolicy: IfNotPresent
        name: foreman
        ports:
        - containerPort: 80
          protocol: TCP
        - containerPort: 443
          protocol: TCP
        resources: {}
        securityContext: {}
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - name: foreman-config
          mountPath: /etc/foreman
          readOnly: true
        - mountPath: /var/log/foreman
          name: foreman
        workingDir: /
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: foreman-config
        secret:
          secretName: foreman-config
      - name: foreman
        persistentVolumeClaim:
          claimName: foreman
  test: false
  triggers:
  - type: ConfigChange
status: {}
