apiVersion: v1
kind: Service
metadata:
  labels:
    app: manageiq-apb
    service: manageiq-postgresql
  name: manageiq-postgresql
spec:
  ports:
  - name: port-5432
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: manageiq-apb
    service: manageiq-postgresql
  sessionAffinity: None
  type: ClusterIP

