---
apiVersion: v1
kind: BuildConfig
metadata:
  name: "{{ jenkins_service_name }}"
spec:
  output:
    to:
      kind: ImageStreamTag
      name: jenkins:latest
  source:
    contextDir: "{{ source_context_dir }}"
    git:
      uri: "{{ source_git_uri }}"
      ref: "{{ source_git_ref }}"
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: jenkins:2
        namespace: openshift
    type: Source
  triggers:
  - type: ConfigChange
  - imageChange: {}
    type: ImageChange
